@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* container */
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
/*end of container */
/* nav */
nav {
  background: #282828;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #A9A9A9;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
}
#check:checked ~ ul{
    left: 0;
}
}
/* end nav */
/* box container */
.mema{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container1{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}
.container1 .box{
    position: relative;
    height: 400px;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}
.container1 .box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #282828;
    transform: skew(2deg,2deg);
    z-index: -1;
}
.container1 .box:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
.content{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}
.box .content h2{
    position: absolute;
    top: -60%;
    right: 20px;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,.05));
    transition: 0.5s
}
.box:hover .content h2{
    top: -140px;
}
.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.box .content a{
    position : relative;
    margin: 20 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solod #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .content a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .content a:hover{
    color: #000;
    background: #fff;

}
/* end of box container*/
/* btn section */
.cool-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.cool-btn:hover{
    border: 1px solid #006994;
    background: #006994;
    transition: 1s;
}
.ctr{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Picture7.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.ctr h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}   
@media(max-width: 700px){
    .ctr h1{
        font-size: 24px;
    }
}
/* end of btn */
/* video start */
.video{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    video{
        position: relative;
        width: 100%;
        top: 0;
        height: auto;
    }
}
/* video end */

/* footer section */
.footer{
	background-color: #282828;
    padding: 11px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col p{
    color: #FAF9F6;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #FAF9F6;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #A9A9A9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #FAF9F6;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #282828;
	background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* end of footer section */
/* Container for feedback section */
form{
    background: rgba(27,31,34,0.80);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
}
form h2{
    color: white;
}
form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}
form .half{
    display: flex;
    justify-content: space-between;
}
form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}
form label{
    display: block;
    font-size: 13px;
    color:white;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}
form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}
form .full{
    margin-bottom: 24px; 
}
form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
}
form .action{
    margin-bottom: 32px;
}
form .action input{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}
form .action input[type="submit"]{
    background: white;
    color: black;
}
form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
    background: rgba(255,255,255,0.075);
}
@media (max-width: 480px){
    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 10px;
      width: 100%;0
    }
}
  /* end of feedback */
/* team members code */
.wrapper{
    margin-top: 50px;
}
.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    color: #ffffff;
    margin-bottom: 60px;
    text-align: center;
}
.team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}
.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #A9A9A9;
    position: relative;
} 
.team .team_member h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
}
.team .team_member p.role{
    color: #A9A9A9;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}
.team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}
.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
}
.wrapper .team .team_member .sci{
   margin-top: 20px;
}
.wrapper .team .team_member .sci a{
    text-decoration: none;
    color: #6c758f;
    font-size: 30px;
    margin: 10px;
    transition: color 0.4s;
}
.wrapper .team .team_member .sci a:hover{
   color: #0196e3;
}
/* end of team members section */
